.sign-in {
  width: 430px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  input {
    background-color: oldlace;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
